/*Ao diminuirmos a largura da tela, o comando abaixo garante 
uma visualização modifica porém ainda estilosa, que se adapta a telas menores.*/
@media screen and (max-width:719px){
    .faixacima{
        position: relative;
    }
    
    .conteudo{
        display:none
    }

    .logomarca{
        margin: 0;
        text-align: center;
    }

    .header{
        padding-top:50px;
    }

    .headline{
flex: 100%;
margin: 5%;
text-align: center;
    }

    .headline p{
        text-align: center;
    }

    .img-headline{
        flex: 100%;
        margin: 5%;
        text-align: center;
    }

.card{
    width: 100%;
}

    .whats{
        display: none;
    }
}